body{
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
*{
    font-family: 'Bangers', cursive;
    box-sizing: border-box;
}
main{
    margin-top: 65px;
}
nav ul{
    padding: 0;
}